@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  /* background: #4b4276; */
  background: rgba(41, 41, 41, 0.712);
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.25);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  /* margin-left: 480px; */
  margin-right: 200px;
}

.header {
  background: rgb(207, 207, 207);
  color: #717171;
}

.wrapper .main_content .header{
  /* overflow: hidden; */
  position: fixed;
  display: block;
  background: rgb(207, 207, 207);
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-family: 'Shadows Into Light', cursive;
  font-size: 53px;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.wrapper .main_content .info{
  color: #717171;
  line-height: 25px;
  margin-left: 480px;
  margin-right: 200px;
  margin-top: 130px;
}

.gif{
  width: 250px;
  height: 167px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items:flex-start;
}

#port {
  width: 97%;
  height: 50px;
  /* bottom: 80px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  border-radius: 10%;
  border-color: white;
  margin: 5px;
  text-align: center;
  position:absolute;
  margin-top: 250px;
}

a{
  color: white;
  text-underline-position: below;
}

img {
  width: 100%;
  height: 500px;
}

.column {
  float: left;
  width: 33%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.author {
    text-align: right;
}

.title {
    text-align: center;
}