{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block for_article %}
<div class="progress-container fixed-top">
    <div class="progress-bar" id="myBar"></div>
</div>
{% endblock for_article %}

{% block content %}
    <div class="title">
        <span>
            <p><h1>{{article.title}}</h1></p>
            <h5 class="reading_time">( {{article.reading_time}} min read )</h5>
        </span>
    </div>
    <div class="signature">
        <p>-{{article.author}} </p>
        <p class="published"> Published on : {{article.date_added}} </p>
    </div>
        
    <img class = "img_art" src={{article.img.url}} alt="">
    <p>{{article.article_body | safe}}</p><br><br>
    <div class="like_box">
        <p class="like-text">Liked it? Give some melon points maybe?</p> 
        <img data-action="like" data-id = {{article.id}} class="like update-likes" src="/static/img/melon-up.png">
        <img data-action="dislike" data-id = {{article.id}} class="like update-likes" src="/static/img/melon-down.png">
        <p class="likes-count">{{article.likes}}</p>
    </div>
{% endblock content %}