{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<ul class="cards">
    {% for art in articles %}
        <li class="cards__item">
            <a href={% url 'article' art.title %}>
                <div class="card">
                    <img class="card__image" src={{art.img.url}}>
                    <div class="card__content">
                        <p class="card_title">
                            {{art.title}}
                        </p>
                        <p class = "card_date">
                            {{art.date_added}}
                        </p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}