{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block for_article %}
<div class="progress-container fixed-top">
    <div class="progress-bar" id="myBar"></div>
</div>
{% endblock for_article %}

{% block content %}
    <div class="title">
        <h1>{{article.title}}</h1>
    </div>
    <div class="author">
        <p>-{{article.author}} ( Published on : {{article.date_added}} )</p>
        {% comment %} <p></p> {% endcomment %}
    </div>
    <img class = "img_art" src={{article.img.url}} alt="">
    <p>{{article.article_body | safe}}</p><br><br>
    <div class="like_box">
        <p class="like-text">Liked it? Give some melon points maybe?</p> 
        <img data-action="like" data-id = {{article.id}} class="like update-likes" src="/static/img/melon-up.png">
        <img data-action="dislike" data-id = {{article.id}} class="like update-likes" src="/static/img/melon-down.png">
        <p class="likes-count">{{article.likes}}</p>
    </div>
{% endblock content %}