{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
    <div class="title">
        <h1>{{article.title}}</h1>
    </div>
    <div class="author">
        <p>-{{article.author}}</p>
    </div>
    <img class = "img_art" src={{article.img.url}} alt="">
    <p>{{article.article_body | safe}}</p><br><br>
    <div class="like_box">
        <p>Liked it? Give some brownie points maybe?</p> 
        <img data-action="like" data-id = {{article.id}} class="like update-likes" src="/static/img/arrow-up.png">
        <img data-action="dislike" data-id = {{article.id}} class="like update-likes" src="/static/img/arrow-down.png">
        <p>{{article.likes}}</p>
    </div>
{% endblock content %}