<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />
        <title>{% block title %}{% endblock title %}</title>
        <link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
    </head>
    <body class = "index-every night-mode-available">  
        <header class="header">
            <a href="/" class="header__logo">The Aalsi Blog</a>

            <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>

            <nav class="nav" id="nav-menu">
                <div class="nav__content bd-grid">

                    <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>
    
                    <div class="nav__perfil">
                        <a href="/"><div class="nav__img">
                            <img src="/static/img/perfil.png" alt="profile photo">
                        </div></a>
                        
                        <div>
                            <a href="/" class="nav__name">The Aalsi Blog</a>
                            <span class="nav__profesion">Kushagra's Blog</span>
                        </div>
                    </div>
    
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                            <li class="nav__item"><a href= {% url 'cp' %} class="nav__link">CP</a></li>
                            <li class="nav__item"><a href= {% url 'ml' %} class="nav__link">ML</a></li>
                            <li class="nav__item"><a href= {% url 'cyber' %} class="nav__link">Cyber Sec</a></li>
                            <li class="nav__item"><a href= {% url 'trivia' %} class="nav__link">Trivia</a></li>
                            <li class="nav__item"><a href= {% url 'all' %} class="nav__link">All Articles</a></li>
                            <li class="nav__item"><a href= "https://kushagra-soni.netlify.app/" class="nav__link">About me</a></li>
                            <li class="nav__item"><a href= {% url 'contact' %} class="nav__link">Contact</a></li>
                        </ul>
                    </div>
    
                    <div class="nav__social make_this_work">
                        <a href="https://www.linkedin.com/in/kushagra-s-b89338140/" class="nav__social-icon"><ion-icon name="logo-linkedin"></ion-icon></a>
                        <a href="https://github.com/kushuu/" class="nav__social-icon"><ion-icon name="logo-github"></ion-icon></a>
                        <div class="night-mode-button">
                            <input type="checkbox" class="checkbox" id="night-mode">
                            <label for="night-mode" class="label">
                              <i class="fas fa-moon"></i>
                              <i class="fas fa-sun"></i>
                              <div class="blob"></div>
                            </label>
                        </div>                        
                    </div>
                </div>
            </nav>
        
        {% block for_article %}
        
        {% endblock for_article %}
        
        </header>

        <div class="main_body">
            <div id="main-box">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        <br><br><br>
        <hr style="width:50%;text-align:left;margin:auto">
        
        <footer>
            <img class="gif" src="/static/img/pro.gif" alt=""><br>
            Made with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#e25555"></path></svg> by Kush.
        </footer>

        <!-- ===== IONICONS ===== -->
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>

        <!--===== MAIN JS =====-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>