<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="/static/contact_style.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <div class="container">
      <span class="big-circle"></span>
      <img src="/static/img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Feel free to contact us for colabs/feedback (be nice thenk).
          </p>

          <div class="info">
            <div class="information">
              <img src="/static/img/location.png" class="icon" alt="" />
              <p>Mumbai, Maharashtra</p>
            </div>
            <div class="information">
              <img src="/static/img/email.png" class="icon" alt="" />
              <a href="mailto:sonikushu007@gmail.com"><p>sonikushu007@gmail.com</p></a>
            </div>
            <div class="information">
              <img src="/static/img/phone.png" class="icon" alt="" />
              <p>9503881684</p>
            </div>
          </div>

          <div class="social-media">
            <p>Go back to home :</p>
            <div class="social-icons">
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
          
          <form action="contact.html" method="POST" autocomplete="off">
            <h3 class="title">Contact me</h3>
            {% csrf_token %}
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <button type="submit" class="btn">Send</button>
          </form>

        </div>
      </div>
    </div>

    <script src="/static/app.js"></script>
  </body>
</html>
